.label {
  display :inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff !important;
  text-align:center;
  white-space:nowrap;
  vertical-align:baseline;
  border-radius:.25em;
}

a.label:hover,
a.label:focus {
  color: #fff;
  text-decoration:none;
  cursor:pointer;
}

.label-default { background-color:#777; }

.label-default[href]:hover,
.label-default[href]:focus { background-color:#5e5e5e; }


.list-inline {
    list-style: none;
    padding: 0;
}

.list-inline > li {
    display: inline;
    margin-top: 0px;
    margin-right: 10px;
}
